{
  "printWidth": 80,
  "useTabs": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "insertPragma": true,
  "endOfLine": "lf"
}
